.center {
  text-align: center ;
}

.jumbotron {
  background-image: url(../../assets/images/jumbotron_background_code.jpg);
  background-size: cover;
  height: 550px;
  margin-top: 1em;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.btn-xlarge {
  font-size: 1.7em;
  color: black;
  background-color: #bbb;
}