nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #33ccff !important;
  background: linear-gradient(45deg, #111, #555);
}

#logo {
  float:left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
} 

#logo:hover {
  color: #ccc;
  text-decoration: none;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #ccc !important;
}

.navbar-toggler-icon {
  color: #fff !important;
}

.navbar-toggler-icon:hover {
  color: #ccc !important;
}


