<div>
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://github.com/Tura92">My GitHub Page</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
      </ul>
    </nav>
  </footer>  
</div>